.card {
  background-color: var(--color-bg-lvl-1); /* Fundo branco para o card */
  border-radius: 32px;       /* Bordas arredondadas para o "balão" */
  padding: 30px;             /* <<< SEU PADDING! Espaçamento interno */
  box-shadow:none; /* Sombra suave para destacar */
  display: flex;
  flex-direction: column;
  /* transition: transform 0.2s ease-in-out; */
}

.card:hover {
  /* transform: translateY(-5px); */
}

.card h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.3rem;
  color: #333;
}

.cardContent {
  /* Estilos para o conteúdo, se necessário */
  font-size: 1rem;
  color: #555;
}