.dashboardContainer {
  padding: 0px;
  background-color: transparent;
  height: 100%; 
}

.dashboardContainer h1 {
  margin-bottom: 24px;
}

.grid_0 {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 5px;
  height: 100%;
  min-height: 0; 
}

.grid_1 {
  display: grid;
  grid-template-rows: 0.6fr 0.4fr;
  gap: 5px;
  height: 100%;
  min-height: 0;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  min-height: 0; 
}

.grid_2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  min-height: 0; 
}