.filterGroup {
  display: flex;
  gap: 3px;
  background: transparent; /* fundo cinza */
  padding: 2px 2px;
  border-radius: 30px;
  border: solid 1px var(--color-bg);
  box-shadow: none;
  width: fit-content;
}

.filterButton {
  display: inline-flex;       /* flex dentro do botão */
  align-items: center;        /* centraliza verticalmente */
  justify-content: center;    /* centraliza horizontalmente */
  padding: 10px 17px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  background: transparent; /* não selecionado */
  color: #6b6e71;
  transition: 0.2s;
  border-radius: 20px;
  text-decoration: none;
  font-family: inherit;
  font-size: 15px;
}

.filterButton:hover {
  background: #dee2e6; /* hover leve no não selecionado */
  text-decoration: none;
}

.active {
  background: var(--color-primary);
  color: var(--color-bg-lvl-2);
  text-decoration: none;
  font-weight: 500;
}
