.topbar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--layout-margin);
  background: transparent;
  border-bottom: none;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.app-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  gap: 12px;
}

.topbar-right {
  display: flex;
  gap: 8px;
}

.icon-btn {
  background: var(--color-secondary);
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-btn:hover {
  background: #495057;
}
