.topbar {
  height: 100px;
  display: flex;
  padding: 0!important;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--layout-margin);
  background: transparent;
  border-bottom: none;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.app-name {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--color-primary);
}

.nav-links {
  display: flex;
  gap: 12px;
}

.topbar-right {
  display: flex;
  gap: 8px;
}

.icon-btn {
  background: var(--color-bg-lvl-1);
  border: none;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
}

.icon-btn:hover {
  background: var(--color-bg-lvl-2);
}
